header, footer{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
}

h2,h4{
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

div#Body{
    background-color: beige;
}