html{
    font-size: 20px
}

body{
    font-family: Arial;
    margin: 0;
}

header{
    margin: 0;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header img#logo{
    width: 30%;
    height: auto;
}

header h1#headingName{
    align-self: center;
    font-size: 3rem;
    border-bottom: 4px dotted hsl(0,0%,0%);
    line-height: 1.5;
}

main{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section#buttons{
    display: grid;
    width: 80%;
    grid-template: 100px 100px / 40% 40%;
    row-gap: 40%;
    justify-content: center;
    margin-bottom: 10%;
}

a.buttonIcon{
    width: 100%;
    height: auto;
    display: grid;
    grid-template: 60% 40% / 100%;
    align-items: center;
    text-decoration: none;
    color: hsl(0,0%,0%);
}

img.imgIcon{
    width: 15%;
    height: auto;
    justify-self: center;
}

img#cellphoneIcon{
    width: 8.5%;
    height: auto;
}

h3.iconTitle{
    justify-self: center;
    text-align: center;
}

footer#information{
    margin-top: 50px;
    padding-top: 50px;
    height: 100vh;
    background-color: hsl(55,100%,50%);
    display: grid;
    grid-template-areas:    'MissionT VisionT'
                            'Mission Vision'
                            'Port Port'
                            'qr qr';
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 5%;
    grid-template-rows: 5% 30% 5% 80%;
}

h3#missionTitle{
    grid-area: MissionT;
}

h3#visionTitle{
    grid-area: VisionT;
}

p#mission{
    grid-area: Mission;
    width: 85%;
    justify-self: center;
    text-align: justify;
    align-self: self-start;
}

p#vision{
    grid-area: Vision;
    width: 85%;
    justify-self: center;
    text-align: justify;
    align-self: self-start;
}

a#portafolio{
    grid-area: Port;
    text-decoration: none;
    color: hsl(0,100%,100%);
    background-color: black;
    border: 2px solid hsl(0,100%,0%);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    justify-self: center;
    align-content: center;
    align-self: center;
    padding: auto;
}

a#portafolio:hover{
    background-color: hsl(0,0%,10%);
}

a#portafolio:active{
    background-color: hsl(0,0%,50%);
    color: hsl(0,0%,0%);
}

img#qrEcard{
    grid-area: qr;
    width: 40%;
    height: auto;
    justify-self: center;
}

@media only screen and (min-width: 1600px) and (orientation: landscape){
    section#buttons{
        row-gap: 50%;
    }

    img.imgIcon{
        margin-bottom: 10%;
    }

    h3.iconTitle{
        font-size: 200%;
    }

    header img#logo{
        width: 40%;
    }

    header h1#headingName{
        font-size: 400%;
    }

    h3#missionTitle{
        font-size: 2.5rem;
    }
    
    h3#visionTitle{
        font-size: 2.5rem;
    }

    p#mission{
        width: 80%;
        font-size: 1.5rem;
    }
    
    p#vision{
        width: 80%;
        font-size: 1.5rem;
    }

    footer#information{
        row-gap: 5;
        grid-template-rows: 5% 42% 8% 70%;
    }

    a#portafolio{
        font-size: 1.25rem;
        width: 200px;
        height:75px;
    }

    img#qrEcard{
        width: 30%;
    }

}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape){
    footer#information{
        grid-template-rows: 5% 40% 8% 60%
    }

    h3#missionTitle{
        font-size: 1.3rem;
    }

    h3#visionTitle{
        font-size: 1.3rem;
    }

    p#vision{
        width: 90%;
    }

    p#mission{
        width: 90%;
    }

    img#qrEcard{
        width: 30%;
    }
}

@media only screen and (max-height: 600px){
    footer#information{
        row-gap: 5%;
        grid-template-rows: 5% 40% 20% 50%
    }

    a#portafolio{
        margin-top: 5%;
    }

    img#qrEcard{
        width: 30%;
    }
}

@media only screen and (max-width: 764px) and (max-height: 720px){

    section#buttons{
        grid-template: repeat(4,100px) / 80%;
        row-gap: 8%;
        margin-bottom: 15%;
    }

    header img#logo{
        width: 50%;
    }

    header h1#headingName{
        font-size: 2rem;
    }

    img.imgIcon{
        width: 12.5%;
        margin-bottom: 2.5%;
    }

    h3.iconTitle{
        font-size: 100%;
    }

    footer#information{
        height: 1000px;
        grid-template-areas: 
            "MissionT"
            "Mission"
            "VisionT"
            "Vision"
            "Port"
            "qr";
        grid-template-rows: 5% 20% 5% 20% 10% 40%;
        grid-template-columns: 90%;
    }

    img#qrEcard{
        width: 40%;
    }
}

@media only screen and (max-width: 480px) and (orientation:portrait){
    
    section#buttons{
        grid-template: repeat(4,100px) / 80%;
        row-gap: 8%;
        margin-bottom: 15%;
    }

    header img#logo{
        width: 50%;
    }

    header h1#headingName{
        font-size: 1.25rem;
    }

    img.imgIcon{
        width: 12.5%;
        margin-bottom: 2.5%;
    }

    h3.iconTitle{
        font-size: 100%;
    }

    footer#information{
        height: 1300px;
        grid-template-areas: 
            "MissionT"
            "Mission"
            "VisionT"
            "Vision"
            "Port"
            "qr";
        row-gap: 2.5%;
        grid-template-rows: 2.5% 25% 2.5% 30% 5% 35%;
        grid-template-columns: 90%;
    }

    img#qrEcard{
        width: 80%;
       
    }
}

@media only screen and (max-height: 480px) and (orientation:landscape){
    
    section#buttons{
        grid-template: repeat(4,100px) / 80%;
        row-gap: 8%;
        margin-bottom: 15%;
    }

    header img#logo{
        width: 50%;
    }

    header h1#headingName{
        font-size: 1.25rem;
    }

    img.imgIcon{
        width: 12.5%;
        margin-bottom: 2.5%;
    }

    h3.iconTitle{
        font-size: 100%;
    }

    footer#information{
        height: 600px;
        
    }

    img#qrEcard{
        width: 30%;
       
    }
}

